<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> HOME MERCADO LIEBRE </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ce3f86914.js" crossorigin="anonymous"></script>     
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="encabezado-general">
        <section>
        <div class="header">
        <div class="header-completo">
        <div class="logo">
            <img src="images/logo-mercado-liebre.svg"  alt="logo-mercado">
        </div>
    </section>
    <section>
        <div class="form" action="#" method="GET">
            <input type="text" placeholder="Search" width="100%" class="barra-busqueda">
            <div class="submit"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
    </section>
    <section>
    <div>
    <p class="medio"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
   </div>
    </div>
    </section>
</div>
    <div>
    <nav class="main-nav-bar">
        <ul class="menu">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <br>
        <ul class="menu2">
            <li><a href="/register">Crea tu cuenta <i class="fas fa-address-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
</div>
    <div class="menu-burguer">
        <i class="fas fa-bars"></i>
    </div>

    </header>
    <section>
    <img src="images/img-home-banner.jpg" alt="banner"  width="100%">
    </section>
    <main>
        <section class="ultima-visita">
            <h3>Basado en tu última visita</h3>   
            <div class="productos">
        <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera"  width="100%">
            <div class="articulo-main">
                <i class="fas fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </div>
        </article>
        <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
                <div class="articulo-main">  
                    <i class="fas fa-truck"></i>
                    <p  class="precios">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
        </article>
        <article>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung"  width="100%" >
            <div class="articulo-main">
                <i class="fas fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </div>
        </article>
        <article>
           
                <img src="images/img-tv-samsung-smart.jpg" alt="tv" width="100%" >
                 <div class="articulo-main">
                <i class="fas fa-truck"></i>
                <p  class="precios">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h4 class="descripcion">SmartTv Samsung 43"</h4>
        </div>
        </article>
    </div>
</div>
</div>
    </section>
    <section class="ofertas">
        <h3>Ofertas</h3>
        <div class="productos">
        <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera"  width="100%" >
            <div class="articulo-main">
                <i class="fas fa-truck"></i>
                <p  class="precios">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </div>
        </article>
        <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
            <div class="articulo-main">
                <i class="fas fa-truck"></i>
            <p  class="precios">$230.000</p>
            <p class="descuento">20% OFF</p>
            <h4 class="descripcion">MacBook Pro 2019</h4>
        </div>
        </article>
        <article>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung" width="100%" >
            <div class="articulo-main">
                <i class="fas fa-truck"></i>
            <p class="precios">$70.500</p>
            <p class="descuento">10% OFF</p>
            <h4 class="descripcion">Samsung Galaxy S10</h4>
        </div>
        </article>
        <article>
            <img src="images/img-tv-samsung-smart.jpg" alt="tv"  width="100%" >
            <div class="articulo-main">
                <i class="fas fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h4 class="descripcion">SmartTv Samsung 43"</h4>
        </div>
        </article>
    </div>
    </section>

    </main>
</body>
<footer>
    <div class="footer-general">
    <section>
    <div class="footer-icon">
        <div class="icono">
        <i class="fas fa-credit-card"></i>
        </div>
        <h4>Pagá con tarjeta o en efectivo</h4>
    </div>
        <p class="cuerpo">Con Mercado Liebre Cash, tenés cuotas sin interés, con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
    <div class="footer-icon">
        <div class="icono">
            <div></div>
            <i class="fas fa-gift"></i>
        </div>
            <h4>Envío gratis desde $ 2.500</h4>
        </div> 
        <p class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>   
    <section>
        <div class="footer-icon">
            <div class="icono">
        <div class="icon-shield">
            <i class="fas fa-user-shield"></i>
        </div>
    </div>
            <h4>Seguridad, de principio a fin</h4>
        <p class="cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
       </section>
    </div>
    <h4>
    <div class="copy-right"> Copyright © 1999-2020 MercadoLiebre S.R.L.
    </h4>
</footer>
</html>